<h1>Orgs</h1>
<ul>
  {{#each model as |org|}}
    <li>{{link-to org.id 'org' org.id}} <span{{action 'favorite' org.id}}>favorites</span></li>
  {{/each}}
</ul>

<ul>
  {{#each items as |item|}}
    <li>{{item.id}}</li>
  {{/each}}
</ul>


{{outlet}}
